{% extends "base.html" %}
{% block content %}
  <header class="header-2">
    <div class="page-header section-height-50 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/img.jpg')">
      <span class="mask bg-gradient-dark opacity-8"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">
              <a class="text-white" target="_blank"
                 href="">RESTAURANT KITCHEN SERVICE</a>
            </h1>
            <p  style="color: #EB5E28;" class="lead mt-3">
              IMPROVE YOUR KITCHEN.
            </p>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
          </g>
        </svg>
      </div>
    </div>
  </header>
<section class="my-5 py-5">

    <div class="container mt-sm-5 mt-3">
      <div class="row">
        <div class="col-lg-3">
          <div class="position-sticky pb-lg-5 pb-3 mt-lg-0 mt-5 ps-2" style="top: 100px">
            <h3>
              Cooks
              <a type="button"
                 class="btn btn-secondary w-auto me-1 mb-0"
                 href="{% url 'restaurant:cook-create' %}">Create
              </a>
            </h3>
            <h6 class="text-secondary font-weight-normal pe-3">
              Jeff is great at making carbonara that’s the great match for this dish!
              Tom is the best pizza master, that’s totally a win match!
              Assign all cooks to the appropriate dishes, and see how easily the restaurant services can be
            </h6>
          </div>
        </div>
        <div class="col-lg-9">
          {% if cook_list %}
            {% for cook in cook_list %}
            <div class="row mt-3">
            <div class="col-12">
              <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
                <div class="container border-bottom">
                  <div class="row justify-space-between py-2">
                    <div class=" me-auto">
                      <p class="lead text-dark pt-1 mb-0">
                        Username: <a href="{% url 'restaurant:cook-detail' pk=cook.id %}">{{ cook.username }}</a> |
                        {{ cook.first_name }}
                        {{ cook.last_name }} |
                        Years of experience: {{ cook.years_of_experience }}
                        <a style="float: right"
                           type="button"
                           class="btn btn-dark w-auto me-1 mb-0"
                           href="{% url 'restaurant:cook-delete' pk=cook.id %}">
                          Delete
                        </a>
                        <a style="float: right"
                           type="button"
                           class="btn btn-light w-auto me-1 mb-0"
                           href="{% url 'restaurant:cook-update' pk=cook.id %}">
                          Update
                        </a>
                         </p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
