{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="page-header  section-height-100 relative py-7 px-12" style="background-image: url('/static/assets/img/create_update_bg.jpg')">
    <div class="container pt-4 px-5 border-radius-2xl  col-lg-9 blur shadow-blur">
      <h2>
        Username: {{ cook.username }}
      </h2>
      <p>
      <h4>Full name: {{ cook.first_name }} {{ cook.last_name }}, years of experience: {{ cook.years_of_experience }}</h4>
      <h4>Dishes for which she|he is responsible:</h4>
      <ul>

      {% for dish in cook.dishes.all %}
        <li><a href="{% url 'restaurant:dish-detail' pk=dish.id %}">{{ dish.name }}</a></li>

      {% endfor %}
    </ul>
      </p>

    </div>
  </div>
{% endblock %}