{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="page-header  section-height-100 relative py-7 px-12" style="background-image: url('/static/assets/img/create_update_bg.jpg')">
    <div class="container pt-4 px-5 border-radius-2xl  col-lg-9 blur shadow-blur">
      <h2>
        {{ object|yesno:"Update,Create" }} dish
        {% if object %}
          <a href="{% url 'restaurant:dish-detail' pk=dish.id %}" class="btn btn-secondary my-auto float-end">
            Cancel
          </a>
        {% else %}
          <a href="{% url 'restaurant:dish-list' %}" class="btn btn-secondary my-auto float-end">
            Cancel
          </a>
        {% endif %}
      </h2>
      <form action="" method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Submit" class="btn btn-dark">
      </form>
    </div>
  </div>
{% endblock %}